In [2]:
import pandas as pd

In [3]:
file_dir = 'Movies-ETL/'

In [18]:
# kaggle_metadata_df = pd.read_csv('movies_metadata.csv', low_memory = False)
ratings_df = pd.read_csv('ratings.csv')
ratings_df.sample(n=5)

          userId  movieId  rating   timestamp
18372267  190691     2058     0.5  1320337878
5525338    56954    47423     4.0  1267355740
13438466  139764     1441     1.0   956070951
18401121  190985     4638     3.5  1406786602
24217091  251498     5065     2.0  1309509600